[submodule "Generation"]
	path = src/main/generation
	url = https://github.com/wchiway/ProjectExpansionNeo
	branch = generation
[submodule "Publishing"]
	path = scripts/publish
	url = https://github.com/wchiway/ProjectExpansionNeo
	branch = publishing
